<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.HealthCare"
        tools:targetApi="31">
        <activity
            android:name=".user.bookinghistory.BookingDetail"
            android:exported="false" />
        <activity
            android:name=".user.bookinghistory.BookingHistory"
            android:exported="false" />
        <activity
            android:name=".admin.schedule.ScheduleDetail"
            android:exported="false" />
        <activity
            android:name=".admin.schedule.ScheduleManagement"
            android:exported="false" />
        <activity
            android:name=".user.booking.Booking"
            android:exported="false" />
        <activity
            android:name=".user.booking.DoctorInfo"
            android:exported="false" />
        <activity
            android:name=".user.booking.BookingDoctor"
            android:exported="false" />
        <activity
            android:name=".user.booking.LabtestInfo"
            android:exported="false" />
        <activity
            android:name=".user.booking.BookingLabtest"
            android:exported="false" />
        <activity
            android:name=".user.AboutUs"
            android:exported="false" />
        <activity
            android:name=".user.UserProfile"
            android:exported="false" />
        <activity
            android:name=".user.authentication.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".user.Home"
            android:exported="false" />
        <activity
            android:name=".user.authentication.Register"
            android:exported="false" />
        <activity
            android:name=".admin.doctor.AddDoctor"
            android:exported="false" />
        <activity
            android:name=".admin.doctor.DoctorDetail"
            android:exported="false" />
        <activity
            android:name=".admin.doctor.DoctorManagement"
            android:exported="false" />
        <activity
            android:name=".admin.labtest.UpdateLabtestDetail"
            android:exported="false" />
        <activity
            android:name=".admin.labtest.LabtestDetail"
            android:exported="false" />
        <activity
            android:name=".admin.labtest.LabtestManagement"
            android:exported="false" />
        <activity
            android:name=".admin.user.UpdateUserDetail"
            android:exported="false" />
        <activity
            android:name=".admin.user.UserDetail"
            android:exported="false" />
        <activity
            android:name=".admin.user.UserManagement"
            android:exported="false" />
        <activity
            android:name=".admin.AdminManagement"
            android:exported="false" />
    </application>

</manifest>